body{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.container{
    text-align: center;
}
i.fab{
    color: rgb(211, 142, 15);
    font-size: 3rem;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: rgb(240, 232, 232);
    text-align: center;
    line-height: 90px;
}
.header{
    flex-basis: 100%;
}

h2{
    color: rgb(209, 202, 202);
    display: block; 
}

hr{
    width: 35%;
}

p{
    color: rgb(209, 202, 202); ;
}